.container {
  padding: 30px;
}

.buscador {
  font-size: large;
  border: 1px solid black;
  width: 66%;
  padding: 30px;
  display: inline-block;
  color: rgb(89, 42, 165);
}

.mas-buscados {
  border: 1px solid black;
  width: 33%;
  display: inline-block;
  padding: 30px;
}
