<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Lookup</title>
    <style>
      .inicio {
        background-color: rgb(158, 166, 221);
      }
      .container {
        padding: 20px;
        display: grid;
        grid-template-columns: 2fr 0.1fr 0.7fr;
        background-color: rgb(158, 166, 221);
      }
    </style>
    <link rel="icon" href="{% static '/images/logo.svg' %}" />
  </head>
  <body>
    {% include "navBar.html" %}
    <div class="inicio">
      <div class="container">
        <div>{% include "busquedaDeArticulos.html" %}</div>
        <div></div>
        <div>{% include "masBuscados.html" %}</div>
      </div>
    </div>
  </body>
</html>
