<!DOCTYPE html>
{% load static %}
<html lang="en">
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
    crossorigin="anonymous"
  />
  <body style="font-size: larger">
    <nav
      class="navbar navbar-light navbar-expand-md py-3"
      style="background-color: #ffffff"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            src="{% static 'images/logo.svg' %}"
            alt=""
            width="50"
            height="50"
            class="d-inline-block align-text-top"
          />
        </a>
        <ul class="navbar-nav">
          <li class="nav-item"></li>
          <li class="nav-item"></li>
          <li class="nav-item"></li>
        </ul>
        <a
          class="navbar-brand d-flex align-items-center"
          href="{% url 'inicio' %}"
          ><span style="font-size: xx-large">Lookup</span></a
        >
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'inicio' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'historial' %}">Historial</a>
            </li>
            <li class="nav-item"></li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active">Iniciar sesi&oacute;n</a>
            </li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
          </ul>
          <button
            type="button"
            class="btn"
            style="background-color: #f9aad0; font-size: large"
          >
            Registrarse
          </button>
        </div>
      </div>
    </nav>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
