<html>
  <div class="container">
    <div class="card mb-3" style="width: auto">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{imagen}}" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{nombre}}</h5>
            <h4 class="card-subtitle">{{precio}}</h4>
            <h4 class="card-subtitle">{{valoracion}}</h4>
            <a href="{{portal}}">Portal web donde está mas económico</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
