<style>
  .container-categorias {
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    text-align: center;
  }
  .container-producto {
    padding: 10px;
    background-color: #ad53a6;
    border: 5px solid white;
    border-radius: 5px;
  }
</style>
<html>
  <div class="container-categorias">
    {% for producto in productos_de_la_categoria %}
    <span style="padding: 10px">
      <div class="container-producto">{{producto}}</div></span
    >
    {% endfor %}
  </div>
</html>
