<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Lookup</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <style>
      .inicio {
        font-family: Khand;
        background-color: #18072b;
      }
      .inicio2 {
        padding: 20px;
        display: grid;
      }
    </style>
    <link rel="icon" href="{% static '/images/logo.svg' %}" />
  </head>
  <body class="inicio">
    {% include "navBar.html" %}
    <div class="inicio2">
      <div class="row">
        <div class="col-md-6 col-xl-8">
          {% include "busqueda_de_articulos.html" %}
        </div>
        <div class="col-md-6 col-xl-4" style="padding: 5px">
          <div>{% include "categorias.html" %}</div>
          <div style="margin-top: 20px">{% include "mas_buscados.html" %}</div>
        </div>
      </div>
    </div>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
