<html>
  <div class="container">
    <div class="card mb-3" style="width: auto">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{imagen}}" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            {% if nombre2 %}
            <h3 class="card-title">
              {{nombre}} <span style="font-weight: lighter">(buscado)</span>
            </h3>
            {% else %}
            <h3 class="card-title">{{nombre}}</h3>
            {% endif %}
            <h4 class="card-subtitle">{{precio}} pesos</h4>
            <h4 class="card-subtitle">{{valoracion}} estrellas</h4>
            {% if rating_modelo %}
            <h5 class="card-subtitle">
              {{rating_modelo}}
              <span style="font-weight: lighter">(rating comentarios)</span>
            </h5>
            {% endif %}
            <a href="{{portal}}">Portal web donde está mas económico</a>
            {% if primer_comentario %}
            <p></p>
            <h4 class="card-subtitle">Comentarios relevantes</h4>
            <div class="card">
              <div class="card-body">{{primer_comentario}}</div>
            </div>
            <p></p>
            <div class="card">
              <div class="card-body">{{segundo_comentario}}</div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
